<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta http-equiv="content-type" content="text/html ; charset='utf8'">
        <title>詳細住所選択</title>
    </head>

    <body>
        <h1><%= title%></h1>

        <% for(var key in data){%>
            
            <input type="radio" name="btn" value= key ><%=data[key]%>
            
        <% } %>
        z
    </body>
</html>