<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta http-equiv="content-type" content="text/html ; charset='utf-8'">
        <title>ゴミの日</title>
    </head>
    <body>
        <form method="POST" action="/index_area">
            <label><input type="radio" name="msg" value="1130116,東京都足立区">東京都足立区</label>
            <label><input type="radio" name="msg" value="1340101,広島">広島</label>
            <p><input type="submit" value="検索"></p>
        </form>
    </body>
</html>